h1
{  
    box-sizing: border-box;  
    margin: 60;  
    padding: 60;  
  }  
    
  body {  
    font-family: Arial,sant sans-serif;  
    line-height: 5;  
    color:blue;  
    background-color: palevioletred;  
  }  
    
  /* Container Styles */  
    
  .container {  
    max-width: 750px;  
    margin: 250px auto;  
    padding: 60px;  
    background-color:lightseagreen;  
    border: 1px solid blue;  
    box-shadow: 0 0 60px red;  
  }  
    
  